<!-- TODO: truncate subject and show text of notes => Twig extension to develop -->
{% for entity in entities %}
    <tr>
        <td>{{ entity.note|notation }}</td>
        <td>{{ entity.subject }}</td>
        <td>{{ entity.email }}</td>
        <td><a href="{{ path('comment_show', { 'id': entity.id }) }}}"> Show Details >> </a></td>
    </tr>

{% endfor %}

<tr>
    <td colspan="4"  id="navigation">
        {{ knp_pagination_render(entities) }}
    </td>
</tr>