{% extends '::base.html.twig' %}

{% block title %}iBrows test - List of Comments{% endblock %}

{% block content %}

    <h3>Welcome to our Guestbook</h3>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <td>Filter by note:</td>
            <td colspan="3">
                <form class="well" id="inline-validate" action="{{ path('overview') }}" method="post" {{ form_enctype(form) }}  novalidate="novalidate">
                    {{ form_widget(form) }}
                    <p>
                        <button type="submit" class="btn">Filter</button> <a class="btn" href="{{ path('overview') }}">Show all</a>
                    </p>
                </form>
            </td>
        </tr>
        <tr>
            <th{% if entities.isSorted('a.note') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Note', 'a.note') }}</th>
            <th>Subject</th>
            <th>Email</th>
            <th>More info</th>
        </tr>
    </thead>
    <tbody id="search_results">
        {% include 'AppBundle:Main:_index.html.twig' with {'entities' : entities}  %}
    </tbody>
</table>
{% endblock %}