{% extends '::base.html.twig' %}

{% block title %}Guestbook test app - new entry{% endblock %}

{% block content %}
    <h3>Add a new comment to our guestbook</h3>
    <a class="btn btn-primary" href="{{ path('overview') }}" role="button"><< Back</a>
    <br>
    <br>

    <form class="well" id="inline-validate" action="{{ path('comment_create') }}" method="post" {{ form_enctype(form) }}  novalidate="novalidate">

        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn">{% trans %}Create{% endtrans %}</button>
        </p>
    </form>
{% endblock %}