{% extends '::base.html.twig' %}

{% block title %}iBrows test - Details of comment{% endblock %}

{% block content %}

    <a class="btn btn-primary" href="{{ path('overview') }}" role="button"><< Back</a>
    <br>
    <br>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <td colspan="2">Details : </td>
        </tr>
    </thead>
    <tbody>
    <tr>
        <th>Note</th><td>{{ entity.note|notation }}</td>
    </tr>
    <tr>
        <th>Email</th><td>{{ entity.email }}</td>
    </tr>
    <tr>
        <th>Subject</th><td>{{ entity.subject }}</td>
    </tr>
    <tr>
        <th>Comments</th><td>{{ entity.body }}</td>
    </tr>
    </thead>

</table>
{% endblock %}