<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Test iBrows{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block content %}

            {% endblock %}
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/javascript.js') }}"></script>
        {% endblock %}
    </body>
</html>
