<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Test iBrows{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>

    {% endblock %}
</head>

<body>

<!-- Navigation -->
<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Test - iBrows</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('overview') }}">Overview</a></li>
                <li><a href="{{ path('comment_new') }}">Add a new comment</a></li>

                {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container-fluid">

        {% if app.session.flashbag.peekAll|length > 0 %}
            {% for type, messages in app.session.flashbag.all %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">
                        {{ message|trans({}, domain|default('messages')) }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

{% block body %}

    <br>
    <br>
    <br>

    <div class="row">
        <div class="col-xs-2">

        </div>
        <div class="col-xs-8">
            {% block content %}

            {% endblock %}
        </div>
        <div class="col-xs-2">

        </div>
    </div>

{% endblock %}
    </div>
</div>

<!-- /.container -->

{% block javascripts %}
    <script src="{{ asset('js/javascript.js') }}"></script>
{% endblock %}

</body>

</html>